
Practica_1/MPLAB/Asc_Des_BCD_PIC16f887.X/build/default/production/

Practica_1/MPLAB/Asc_Des_BCD_PIC16f887.X/dist/default/production/

Practica_1/Proteus/Project Backups/

Practica_1/MPLAB/Asc_Des_BCD_PIC16f887.X/build/default/debug/

Practica_1/MPLAB/Asc_Des_BCD_PIC16f887.X/dist/default/debug/
