
Practica_1/MPLAB/Asc_Des_BCD_PIC16f887.X/build/default/production/

Practica_1/MPLAB/Asc_Des_BCD_PIC16f887.X/dist/default/production/

Practica_1/Proteus/Project Backups/

Practica_1/MPLAB/Asc_Des_BCD_PIC16f887.X/build/default/debug/

Practica_1/MPLAB/Asc_Des_BCD_PIC16f887.X/dist/default/debug/

Laboratorio_1/MPLab/Lab_1.X/build/default/production/

Laboratorio_1/MPLab/Lab_1.X/dist/default/production/

Laboratorio_1/MPLab/Lab_1.X/dist/default/debug/

Laboratorio_1/MPLab/Lab_1.X/build/default/debug/

Laboratorio_1/Proteus/Project Backups/

Laboratorio_2/Lab_2.X/build/default/production/

Laboratorio_2/Lab_2.X/build/default/debug/

Laboratorio_2/Lab_2.X/dist/default/debug/

Laboratorio_2/Lab_2.X/dist/default/production/

Laboratorio_3/MPLab/Lab_3.X/dist/default/production/

Laboratorio_3/MPLab/Lab_3.X/build/default/production/

Practica_0/MPlab/practica_0.X/build/default/debug/

Practica_0/MPlab/practica_0.X/build/default/production/

Practica_0/MPlab/practica_0.X/dist/default/debug/

Practica_0/MPlab/practica_0.X/dist/default/production/

Laboratorio_4/MPLab/Laboratorio_4.X/build/default/production/

Laboratorio_4/MPLab/Laboratorio_4.X/dist/default/production/

Practica_1.X/build/default/production/
